<div id="filter_buttons" class='clearfix'>
    <div class="filter_buttons_container">
      <div class="filter_button btn btn-large well span4" id="state-button" data-api-params=""><h4>- search by -</h4><span class="state_text">State</span></div>
      <div class="filter_button btn btn-large well span4" id="subject-button" data-api-params=""><h4>- search by -</h4><span class="subject_text">Subject</span></div>
      <div class="filter_button btn btn-large well span4" id="grade-button" data-api-params=""><h4>- search by -</h4><span class="grade_text">Grade<span></div>
    </div>
  <div class="filter-actions"></div>
</div>
<div class="main-background">
  <div class="container">
    <div class="projects-container">
      <div class="proj-list-wrap">
        <div class="filter_clearer">
          <div class="btn btn-medium" id="clear-filters">Clear Filters</div>
        </div>
        <div class="projects-count">
        </div>
        <div class="projects-list">
        </div>
      </div>
    </div>
    <div class="project-spotlight">
      <div class="test">
      </div>
    </div>
  </tr>
    </table>
  </div>
</div>
<div class="footer">
</div>

<script type="text/javascript" charset="utf-8">
  jQuery(function(){
    new Filterer({el: $('#filter_buttons')});
    new Projector({el: $('.projects-container')})
    new Clearer({el: $('.filter_clearer')})
  })
</script>
