<div id="filter_buttons">

    <div class="filter_buttons_container">
      <div class="filter_button btn btn-large well span4" id="state-button">State</div>
      <div class="filter_button btn btn-large well span4" id="subject-button">Subject</div>
      <div class="filter_button btn btn-large well span4" id="grade-button">Grade</div>
    </div>
    <div class="filter-actions">
		</div>

</div>
<div class="main-background">
<div class="container">
  <div class="projects-container">
          <div class="projects-count">
      </div>
    <div class="projects-list">
    </div>
	</div>
</div>
</div>
<div class="footer">
</div>

<script type="text/javascript" charset="utf-8">
  jQuery(function(){
    new Filterer({el: $('#filter_buttons')});
    new Projector({el: $('.projects-container')})
    new Clearer({el: $('.filter_clearer')})
  })
</script>
