<div id="filter_buttons">
  <div class="buttons_liner">
    <div class="filter_buttons_container">
      <div class="filter_button well span4" id="state-button">State</div>
      <div class="filter_button well span4" id="subject-button">Subject</div>
      <div class="filter_button well span4" id="grade-button">Grade</div>
    </div>
    <div class="filter-actions">
		</div>
  </div>
</div>
<div class="container-fluid">
	<div class="projects_count">
	  <div class="row">
	    <div class="well span6">
	    </div>
	  </div>
	</div>
  <div class="projects_container">
  	<ul class="projects-list">
  	</ul>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
  jQuery(function(){
    new Filterer({el: $('#filter_buttons')});
    new Projector({el: $('.projects_container')})
  })
</script>
