<div id="filter_buttons">
  
    <div class="filter_buttons_container">
      <div class="filter_button btn btn-large well span4" id="state-button">State</div>
      <div class="filter_button btn btn-large well span4" id="subject-button">Subject</div>
      <div class="filter_button btn btn-large well span4" id="grade-button">Grade</div>
    </div>
    <div class="filter-actions">
		</div>
  
</div>
<div class="container-fluid">
  <div class="projects-container">
	  <div class="row">
	    <div class="well span6 projects-count">
	    </div>
	  </div>
  	<ul class="projects-list">
  	</ul>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
  jQuery(function(){
    new Filterer({el: $('#filter_buttons')});
    new Projector({el: $('.projects-container')})
  })
</script>
