@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Montserrat);

$lightBlue: #2A53C1;
$darkBlue: #202A5D;
$darkRed: #941324;
$lightRed: #DC2039;
$plain: #F5F6FA;

body {
  background-color: $plain;
}

.navbar-inner {
  border-radius: 0;
  min-height: 40px;
  background-color: $lightBlue;
  background-image: none;
}

#logo {
  color: $plain;
  font-family: 'Montserrat', sans-serif;
}

.project-box {
  height: 350px;
  overflow: auto;
}

#filter_buttons {
	height: 200px;
}

.buttons_liner_1 {
	height: 180px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: $lightRed;
}

.buttons_liner_2 {
	height: 160px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: $darkRed;
}

.filter_buttons_container {
	height: 110px;
	padding-top: 50px;
	background-color: $darkBlue;
	padding-left: 15%;
	padding-right: 15%;
}

.filter_button {
	font-family: 'Montserrat', sans-serif;
	background-color: $plain;
	list-style-type: none;
	float: left;
	border-radius: 5px;
	text-align: center
}