@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Arvo);


$lightBlue: #2A53C1;
$darkBlue: #202A5D;
$darkRed: #941324;
$lightRed: #DC2039;
$plain: #F5F6FA;

body {
  background-color: $plain;
  font-family: 'Montserrat', sans-serif;
}

.shrink {
  padding-top: 0px;
  height: 80px;
}

.nav {
  width: 100%;
}

.pull-right {
  vertical-align: bottom;
  padding-left: 80%;
}

/* Header and Logo */
.navbar {
  margin-bottom: 0;
}

.navbar-inner {
  padding: 0;
  border-radius: 0;
  min-height: 40px;
  background-color: $lightBlue;
  background-image: none;
}

#logo-nav {
  background-color: $plain;
  background-image: url("/assets/giveheart.png");
  background-repeat:no-repeat;
  background-position: 160px 10px;
  padding: 15px;
  height: 200px;
  h2 {
    color: black;
  }
  #logo {
  font-family: 'Montserrat', sans-serif;
  }
}

.tagline {
  text-align: center;
}
.tag {
  font-size: 3em;
}
.sub-tag {
  padding-top: 30px;
  font-size: 5.5em;
  color: black;
  font-family: 'Arvo', Georgia, Times, serif;
}

/* Buttons */
.filter_clearer {
  float: left;
  padding-top: 27px;
  margin-top: -167px;
}

#clear-filters {
  width: 711px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  color: #686868;
}

#filter_buttons {
  padding-top: 50px;
  min-height: 130px;
  padding-bottom: 70px;
  background: #2a53c1; /* Old browsers */
}

.filter_buttons_container {
  width: 1200px;
  height: 50px;
  margin: 0 auto;
}

.filter_button {
  font-family: 'Montserrat', sans-serif;
  background-color: $plain;
  height: 90px;
  padding-top: 10px;
  float: left;
  border-radius: 5px;
  text-align: center;
  font-size: 36px;
  margin-left: 35px;
  margin-right: 35px;
  line-height: 2;
}

.filter_button:hover {
  box-shadow: 0 0 10px #000000;
  -webkit-box-shadow: 0 0 10px #000000;
  -moz-box-shadow: 0 0 10px #000000;
}

.filter_button.active {
  -moz-box-shadow: inset 5px 5px 10px #888;
  -webkit-box-shadow: inset 5px 5px 10px #888;
  box-shadow: inset 5px 5px 10px #888;
}

#grade_buttons {
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  width: 600px;
  height: 100px;
}

.grade_button {
  float: left;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  text-align: center;
  font-size: 24px;
  width: 100px;
  margin-right: 10px;
  margin-left: 10px;
}

.grade_button.active {
  -moz-box-shadow: inset 5px 5px 10px #888;
  -webkit-box-shadow: inset 5px 5px 10px #888;
  box-shadow: inset 5px 5px 10px #888;
}

#map {
  margin: 0 auto;
}

.subject {
  float: left;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  width: 240px;
  margin-right: 10px;
  margin-left: 16px;
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.special-needs {
  float: left;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  width: 240px;
  margin-right: 10px;
  margin-left: 16px;
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.special-needs.active {
  -moz-box-shadow: inset 5px 5px 10px #888;
  -webkit-box-shadow: inset 5px 5px 10px #888;
  box-shadow: inset 5px 5px 10px #888;
}

#subject-buttons-container {
  width: 1200px;
  height: 50px;
  margin: 0 auto;
  float: center;
  margin-top: 80px;
  margin-bottom: 25px;
  padding-left: 35px;
}

.sub-subjects-container {
  width: 1200px;
  height: 50px;
  margin: 0 auto;
  float: center;
  margin-top: 100px;
  margin-bottom: 25px;
  padding-left: 35px;
}

.sub-subject {
  float: left;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  width: 240px;
  margin-right: 10px;
  margin-left: 16px;
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.subject.active {
  -moz-box-shadow: inset 5px 5px 10px #888;
  -webkit-box-shadow: inset 5px 5px 10px #888;
  box-shadow: inset 5px 5px 10px #888;
}

.sub-subject.active {
  -moz-box-shadow: inset 5px 5px 10px #888;
  -webkit-box-shadow: inset 5px 5px 10px #888;
  box-shadow: inset 5px 5px 10px #888;
}

.shrink {
  padding-top: 10px;
  height: 90px;
  line-height: 1;
}

/* This formats the patterned background behind the projects grid. */
.main-background {
  height: 100%;
  margin-top: 0px;
  padding-top: 100px;
  width: 100%;
  background: url("/assets/noisepattern.png");
  border-top: 1px solid darkgray;
}

/* This formats the box in which the projects grid sits. */
.projects-list {
  -webkit-border-top-left-radius: 9px;
  -webkit-border-top-right-radius: 9px;
  -moz-border-radius-topleft: 9px;
  -moz-border-radius-topright: 9px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  margin-top: 0px;
  padding-top: 100px;
  padding-left: 5px;
  padding-bottom: 37px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.2);
  background: #F0F0F0;
}

.container {
  width: 1140px;
}

.proj-list-wrap {
  float: left;
  width: 732px;
}

.projects-container {
}

.project-spotlight {
  -webkit-border-top-right-radius: 9px;
  -moz-border-radius-topright: 9px;
  border-top-right-radius: 9px;
  -webkit-border-bottom-right-radius: 9px;
  -moz-border-radius-bottomright: 9px;
  border-bottom-right-radius: 9px;
  margin-top: -120px;
  float: left;
  width: 400px;
  background: darkgray;
  height: 364px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.2);
  .test {
    background: $plain;
    margin-top: 17px;
    margin-right: 17px;
    height: 330px;
    -webkit-border-top-right-radius: 9px;
    -moz-border-radius-topright: 9px;
    border-top-right-radius: 9px;
    -webkit-border-bottom-right-radius: 9px;
    -moz-border-radius-bottomright: 9px;
    border-bottom-right-radius: 9px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.2);
  }
}

.projects-count {
  padding-bottom: 20px;
  margin: -90px auto;
  text-align: center;
  vertical-align: top;
}

/* This formats the project images - grayscale */
.project-image {
  filter: url('/assets/filters.svg#grayscale'); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
}

.project-image:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}

/* These change the formatting of the projects grid based on number of projects. */
.large-projects {
  display: inline;
  list-style-type: none;
  margin: 10px;
  img {
    width: 203px;
    padding-bottom: 20px;
  }
}

.medium-projects {
  display: inline;
  list-style-type: none;
  margin: 10px;
  img {
    width: 118px;
    padding-bottom: 20px;
  }
}

.small-projects {
  display: inline;
  list-style-type: none;
  margin: 12px;
  img {
    width: 60px;
    padding-bottom: 24px;
  }
}

/* Javascript boxes with project details */

.project-info {
  display: none;
}

.recommendation, .project-info {
  padding: 15px;
  h3 {
  padding-top: 15px;
  }
  img {
    padding-top: 10px;
  }
}

/* Footer */
.footer {
  background: black;
  height: 300px;
}

/* Loading Filler */

#loading-filler {
  width: 400px;
  height: 100px;
}