<!DOCTYPE html>
<html>
<head>
  <title>DonorsSelect</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
  	<ul class="nav">
			<li class="logo"><h2 id="logo">DonorsSelect</h2></li>
		</ul>
  </div>
  <div id="filter_buttons">
  	<div class="buttons_liner">
			<div class="filter_buttons_container">
				<div class="filter_button well span4" id="state-button">State</div>
				<div class="filter_button well span4" id="subject-button">Subject</div>
				<div class="filter_button well span4" id="grade-button">Grade</div>
			</div>
		</div>
  </div>
</div>
<%= yield %>

</body>
</html>
