<!DOCTYPE html>
<html>
<head>
  <title>DonorsSelect</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
  	<div class="container">
      <div id="logo-nav">
        <li class="logo pull-left"><h2 id="logo">DonorsSelect</h2></li>
      </div>
	  	<ul class="nav">
				<li class="filter_clearer pull-right"><div class="btn btn-medium" id="clear-filters">Clear Filters</div></li>
			</ul>
		</div>
  </div>
</div>

<%= yield %>

</body>
</html>
